@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@import "./toastify.css";

@theme {
	--font-family-montserrat: "Montserrat", sans-serif;
	--font-family-roboto: "Roboto", sans-serif;

	--font-weight-extrabold: 1000;

	--color-dark: var(--color-gray-600);
}

@layer utilities {
	.font-montserrat {
		font-family: var(--font-family-montserrat);
	}

	.font-roboto {
		font-family: var(--font-family-roboto);
	}

	.toast-angry {
		@apply font-[montserrat] bg-red-500 text-white font-bold;
	}

	.toast-sarcasm {
		@apply font-[montserrat] bg-yellow-500 text-white font-bold;
	}

	.toast-calm {
		@apply font-[montserrat] bg-blue-400 text-white font-bold;
	}
}

@layer components {
	.nav-item {
		@apply w-full;
	}

	.nav-item > .__text {
		@apply hover:bg-purple-500 hover:border-b-4 hover:border-purple-600 hover:text-white;
		@apply cursor-pointer transition-all border-b-4 border-transparent  flex justify-center  py-8;
	}

	.score-item {
		@apply py-5 w-1/2 text-center flex flex-col items-center justify-center font-bold font-[montserrat];
	}

	.score-item.active-score-item {
		@apply bg-purple-500 border-b-4 border-purple-600;
	}

	.score-item.inactive-score-item {
		@apply border border-dashed;
	}

	.cell {
		@apply text-[clamp(2.5rem,10vw,5rem)] text-dark font-[montserrat] font-bold uppercase;
		@apply flex items-center justify-center;
		@apply cursor-pointer;
		border-right: 3px solid var(--color-dark);
		border-bottom: 3px solid var(--color-dark);
	}

	.grid > .cell:nth-child(3n) {
		border-right: none;
	}

	.grid > .cell:nth-child(n + 7) {
		border-bottom: none;
	}

	.active-score-item {
		@apply bg-blue-400 text-white shadow-lg;
	}

	.inactive-score-item {
		@apply border border-dashed text-dark;
	}

	.cell-win {
		@apply text-blue-400;
	}
}
