@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
	--font-family-montserrat: "Montserrat", sans-serif;
	--font-family-roboto: "Roboto", sans-serif;

	--font-weight-extrabold: 1000;

	--color-dark: var(--color-gray-600);
}

@layer utilities {
	.font-montserrat {
		font-family: var(--font-family-montserrat);
	}

	.font-roboto {
		font-family: var(--font-family-roboto);
	}
}

@layer components {
	.cell {
		@apply text-[clamp(2.5rem,10vw,5rem)] text-dark font-[montserrat] font-bold uppercase;
		@apply flex items-center justify-center;
		@apply cursor-pointer;

		border-right: 3px solid var(--color-dark);
		border-bottom: 3px solid var(--color-dark);
	}

	.grid > .cell:nth-child(3n) {
		border-right: none;
	}

	.grid > .cell:nth-child(n + 7) {
		border-bottom: none;
	}
}
